.button {
  padding: 4px 12px;
  border-radius: 4px;
  cursor: pointer;
  font-size: large;
}
.primary {
  background-color: hsl(206, 100%, 52%);
  color: aliceblue;
  border: none;
}
.secondary {
  border: 1px solid #121212;
  font-size: medium;
}
